nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    border-bottom: 1px double black;
}

nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color:darkorange;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: black;
}
