
/*meniu*/

/*       logo image dydžio keitimas*/
nav img{
    max-width: 64px;
}

@media (max-width: 600px) {
    .nav-wrapper .brand-logo img {
        height: 56px;
    }
}

/*meniu teksto spalvos keitimas*/
nav div a{
    color:black;
    font-family: "Segoe UI","Helvetica Neue",sans-serif !important;
    text-transform: uppercase;
}

.material-icons{
    color:black;
}

/*.navbar-fixed li{*/
/*    text-transform: uppercase;*/
/*    font-family: sans-serif;*/
/*}*/

/*meniu*/

/*slider mygtuko spalva*/
.slider .indicators .indicator-item.active {
    background-color: grey;
}

/*klientu komentarai*/
.header{
    text-align: center;
    margin:12px;
}

/*footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer-one div img{
    width:100%;
}

.footer-right-side a img{
    width:20px;
    height:20px;
    text-align: right;
    font-family: "Segoe UI","Helvetica Neue",sans-serif !important;
}

.footer-right-side{
    margin-left:50px;
}

.footer-middle{
    font-family: "Segoe UI","Helvetica Neue",sans-serif !important;
    margin-left: 50px;
}

.footer-one{
    background-color: white;
    border-top: 1px solid black;
}

.footer-one a{
    width:100%;
}

.footer-two{
    background-color: #a5d6a7;
    margin:0px;
}

.footer-two p{
    font-family:"Segoe UI","Helvetica Neue",sans-serif !important;
}

/*footer*/
