.h1{
    color:deeppink;
    font-family: Arial;
}

.h11{
    color:deeppink;
    font-family: Verdana;
}

.p{
    font-family: Arial;
    color: black;
}

.p1{
    font-family: Verdana;
    color:dimgrey;
}

.special{
    
}